---
layout: layouts/base.njk
---
<article>
  <header class="entry-head">
    <h1 class="entry-title">{{ title }}</h1>
    {% if summary %}<p class="entry-summary">{{ summary }}</p>{% endif %}
  </header>
  <div class="prose" data-sidenotes>
    {{ content | safe }}
  </div>
</article>
